<!--
<input #shortUrl/>
<button (click)="getUrl(shortUrl.value)">FETCH URL</button>

<br/>
<br/>

<input #longUrl/>
<button (click)="postUrl(longUrl.value)">POST URL</button>

<p>Short URL: {{urlData.shortUrl}}</p>
<p>Long URL: {{urlData.longUrl}}</p>
<p>Created At: {{urlData.createdAt}}</p>
<p>Expire At: {{urlData.expireAt}}</p>
<p>Click Count: {{urlData.clickCount}}</p>
<p>User Agent: {{urlData.userAgent}}</p>
<p>IP Address: {{urlData.ipAddress}}</p>
<p>Geo Location: {{urlData.geoLocation}}</p>
-->

<div style="width: 500px; padding: 20px;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="shortUrl">
          <th mat-header-cell *matHeaderCellDef> SHORT URL </th>
          <td mat-cell *matCellDef="let element"> {{element.shortUrl}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> ACTION </th>
            <td mat-cell *matCellDef="let element"> 

                <button mat-raised-button (click)="openFetchDialog(element)">Fetch data</button>

            </td>
          </ng-container>
  
      
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
  

<div style="padding: 20px;">
    <button mat-raised-button (click)="openDialog()">Pick one</button>
</div>
